.form--submit {
    display: flex;
    justify-content: center;

    button {
        background-color: rgb(88, 114, 226);
        color: white;
        padding: 1.5rem;
        border-radius: 1rem;
        width: 20rem;
        font-size: 2rem;
        cursor: pointer;
        margin-top: 3rem;
        margin-bottom: 8rem;
    }
}