.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--rules {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    &_container {
        &--value {
            margin: 5rem 0;
            display: flex;
            flex-direction: column;
        }
    }

    input {
        font-size: 1.5rem;
        padding: 5px;
        width: 40rem;
    }
}

.msgError {
    color: red;
    font-size: 1.5rem;
}