.publish {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &_container {
        display: flex;
        flex-direction: column;
        border: 0.4rem solid #FD2D01;
        border-radius: 1rem;
        margin: 1.2rem 0;
        width: 80%;

        &--user {
            display: flex;
            justify-content: center;
            margin-right: 5rem;
        }

        &--contents {
            display: flex;

            img {
                height: 30rem;
                width: 60%;
                margin-right: 0.5rem;
            }

            p {
                width: 40%;
                overflow-wrap: normal;
            }
        }

        &_button {
            display: flex;
            justify-content: center;

            &--update {
                font-weight: bold;
                cursor: pointer;
                padding: 0.3rem 1rem;
                background-color: cyan;
                margin: 0.8rem 1rem;
                border-radius: 0.8rem;
            }

            &--delete {
                font-weight: bold;
                cursor: pointer;
                padding: 0.3rem 1rem;
                margin: 0.8rem 1rem;
                border-radius: 0.8rem;
                background-color: #FD2D01;
            }

            &--number {
                font-size: 2rem;
                margin: 0.8rem 1rem;
            }

            &--like {
                font-size: 2rem;
                cursor: pointer;
                border: none;
                background-color: white;
                margin: 0.8rem 0;
                .fas {
                    color: green;
                }
                .fa-solid {
                    color: black ;
                }
            }
        }

        &_create {
            display: flex;
            justify-content: center;

            &--post {
                background-color: rgb(88, 114, 226);
                color: white;
                padding: 1.5rem;
                border-radius: 1rem;
                width: 30rem;
                font-size: 2rem;
                cursor: pointer;
                margin-top: 5rem;
                margin-bottom: 5rem;
            }
        }
    }
}